//---------------Main Offer

.main-offer
  display flex
  justify-content flex-start
  align-items center
  flex-direction column
  margin 160px auto 0
  max-width 1440px
  min-height 650px
  background #ece7dd url('../img/main-bg.png') center no-repeat
  background-size cover

  &__content
    width 100%
    max-width 360px
  
  &__item:first-child
    margin-top 165px
    padding-right 150px
    text-align left

  &__item:last-child
    margin-top 50px
    padding-left 150px
    text-align right

  &__item
    display flex
    flex-direction column
    width 100%
    min-height 200px

  &__header
    margin-bottom 10px
    font-size 28px
    line-height 42px
    font-weight bold
    
  &__header a
    color #b6926f
  
  &__info
    margin-bottom 30px
    line-height 26px

//---------------Main Offer

.sign-up
  width 100%
  min-height 275px
  
  &__container
    display flex
    justify-content center
    
  &__name
    margin 75px 0 30px
    line-height 18px
    color #000
    text-align center
  
  &__email
    width 360px
    border-width 1px 0 1px 1px 

:placeholder
  font-size 13px
  line-height 18px
  color #838383

:focus::placeholder
  color transparent

