//---------------Main Offer

.main-offer
  display flex
  justify-content flex-start
  align-items center
  flex-direction column
  margin 160px auto 0
  max-width 1440px
  min-height 650px
  background #ece7dd url('../img/main-bg.png') center no-repeat
  background-size cover

  &__content
    width 100%
    max-width 360px
  
  &__item:first-child
    margin-top 165px
    padding-right 150px
    text-align left

  &__item:last-child
    margin-top 50px
    padding-left 150px
    text-align right

  &__item
    display flex
    flex-direction column
    width 100%
    min-height 200px

  &__header
    margin-bottom 10px
    font-size 28px
    line-height 42px
    font-weight bold
    
  &__header a
    color #b6926f
  
  &__info
    margin-bottom 30px
    line-height 26px
    
.arrow-link
  position relative
  display block
  width 52px
  height 15px
  transition all 0.3s ease
    
  &:hover
    width 65px
    
  &--normal:before
    content ''
    position absolute
    bottom 6.5px
    left 98%
    width 10px
    height 10px
    border solid #b6926f
    border-width 0 2px 2px 0
    transform translate(-100%, 42%) rotate(-45deg)
  
  &--normal:after
    content ''
    position absolute
    bottom 6.5px
    left 0px
    width 98%
    height 2px
    background-color #b6926f
    
  &--reverse
    align-self flex-end
    
    &:before
      content ''
      position absolute
      bottom 6.5px
      right 98%
      width 10px
      height 10px
      border solid #b6926f
      border-width 0 2px 2px 0
      transform translate(100%, 42%) rotate(135deg)
    
    &:after
      content ''
      position absolute
      bottom 6.5px
      right 0px
      width 98%
      height 2px
      background-color #b6926f


//---------------Main Offer

.sign-up
  width 100%
  min-height 275px
  
  &__container
    display flex
    justify-content center
    
  &__name
    margin 75px 0 30px
    line-height 18px
    color #000
    text-align center
  
  &__email
    width 360px
    border-width 1px 0 1px 1px 

:placeholder
  font-size 13px
  line-height 18px
  color #838383

:focus::placeholder
  color transparent
    
//---------------Main Event    

.main-event
  padding-bottom 100px
  
  &__container
    display flex
    background-color #fbfbfb

.block-img
  width 62.105263157894736842105263157895%
  line-height 0
  
.block-content
  display flex
  flex-direction column
  justify-content flex-start
  align-items center
  width 37.894736842105263157894736842105%
  
  &__wrapper
    display flex
    flex-direction column
    max-width 235px
    min-height 480px
    padding-top 45px
    
  &__wrapper .arrow-link
    margin 70px 0 0 170px
  
  &__text
    line-height 26px

.content-data
  font-size 13px
  line-height 18px
  color #838383
  
  & + .main-heading
    margin 20px 40px 15px 0
    
  & a
    color #838383
    
.publications-heading
  font-size 28px 
  line-height 42px
  font-weight normal