*
  margin 0
  padding 0 
  box-sizing border-box
  
a
  text-decoration none
  color #343434
  
img
  max-width 100%

li
  list-style-type none
  
button
  border none
  outline none
  cursor pointer  

body
  padding-top 160px
  font-family 'Open Sans', sans-serif
  font-size 14px
  line-height 26px
  color #343434

.wrapper
  margin 0 auto
  padding 0 25px
  max-width 1000px
  
.big-wrapper
  margin 0 auto
  padding 0 25px
  max-width 1490px

.main-heading
  font-size 42px
  line-height 56px
  font-weight normal

