//---------------Gold Comission
//---------------radiobutton
.filter-sex
  display flex
  align-items center
  font-size 13px
  
  &__item
    cursor pointer
    
    & + &
      margin-left 20px

.radio
  display none
  
.radio-custom
  position relative
  width 10px
  height 10px
  border 1px solid #ebebeb
  border-radius 50%
  
  & + .label
    margin-left 5px
  
.radio-custom,
.label
  display inline-block
  vertical-align middle
  color #838383

.radio:checked + .radio-custom
  border-color #d9c39e

.radio:checked + .label
  color #343434

.radio:checked + .radio-custom::before 
  content ""
  position absolute
  top 50%
  left 50%
  display block
  width 4px
  height 4px
  background #bf9f81
  transform translate(-50%, -50%)
  border-radius 50%
  
.arrow-inactive
  position relative
  display block
  width 10px
  height 50px

  &:before
    content ''
    position absolute
    bottom 23px
    right 0px
    width 10px
    height 2px
    background-color #eaeaea
    transform rotate(90deg)
    
  &:after
    content ''
    position absolute
    bottom 23px
    right 0px
    width 6px
    height 6px
    border 2px solid #eaeaea
    border-width 0 0 2px 2px
    transform translate(-1px, 3.5px) rotate(-45deg)
  
.selection
  display flex
  
  &-list + &-list
    margin-left 50px

.selection-list
  position relative
  display flex
  align-items center
  font-size 13px
  
  &:after
    content ''
    position absolute
    bottom 50%
    right -13px
    width 5px
    height 5px
    border 2px solid #838383
    border-width 0 0 2px 2px
    transform translate(-1px, 3.5px) rotate(-45deg)
  
//---------------products

@keyframes appearance
  0%
    transform scale(0)
  
  50%
    transform scale(.01,  .8)  
    
  100%
    transform scale(1)

.product
  padding 60px 0 10px

  &-list
    display flex
    flex-wrap wrap
    justify-content space-between
  
  &-item
    max-width 230px
    min-height 430px
    margin-bottom 18px
  
    &__img
      position relative
      line-height 0
      
      &:hover > .product-size
        visibility visible
        transform scale(1)
        animation appearance 0.4s
        
      &:hover .product-size__content
        transform translateY(0)
        transition all 0.4s ease-in-out 0.1s
        
      &:hover .product-size__arrow
        left 50%     
        transition all 0.5s ease 0.1s

      & + .product-title
        margin-top 20px
        
  &-size
    position absolute
    top 20px
    left 20px
    width 190px
    height 287px
    background-color #3e3e3e
    opacity 0.95
    text-align center
    transform scale(0)
    visibility hidden
    
    &__link
      position relative
      display block
      padding-top 32px
      width 100%
      height 100%

    &__arrow
      position absolute
      display flex
      top 50%
      left 40%
      width 18px
      height 12px
      transform translate(-50%, -50%)
      
    &__line
      position relative
      display block
      width 17px
      height 2px
      margin auto 0
      background-color #d7c099
      
      &:after
        content ''
        position absolute
        top 0
        right 0
        width 6px
        height 6px
        border 2px solid #d7c099
        border-width 0 2px 2px 0
        transform translateY(-40%) rotate(-45deg)

    &__content
      font-size 13px
      line-height 20px
      color #fff
      transform translateY(7px)    
      
      & span
        margin-top 5px
        display block
        text-transform uppercase
      
  &-price
    font-weight bold
    color #b6926f
    
  &-title
    display block
    
.pages
  padding-bottom 90px
  
  &__container
    display flex
    justify-content space-between
  
  &__item
    display flex
    justify-content center
    align-items center
    width 32px
    height 32px
    color #838383
    font-size 13px
    border 1px solid #eaeaea
    
    & + &
      margin-left 5px
      
    &--active
      color #343434
      border 2px solid #d7c099
    
    &:hover
      border 2px solid #eaeaea
      
  &__numbers
    display flex
    
    & .pages__item--active:hover
      border 2px solid #d7c099
  
  &-toggle
    display flex
    
    &__item
      width 32px
      height 32px
      border 1px solid #eaeaea
      
      & + &
        margin-left 5px
        
      &:hover
        border 2px solid #eaeaea

.pages-toggle--prev
  position relative

  &:after
    content ''
    position absolute
    bottom 50%
    right 50%
    width 5px
    height 5px
    border 2px solid #838383
    border-width 0 0 2px 2px
    transform translate(50%, 50%) rotate(45deg)
      
.pages-toggle--next
  position relative
      
  &:after
    content ''
    position absolute
    bottom 50%
    right 50%
    width 5px
    height 5px
    border 2px solid #838383
    border-width 0 0 2px 2px
    transform translate(50%, 50%) rotate(-135deg)
    
//---------------One Staff
.one-product
  display flex
  justify-content space-between
  padding 24px 0 90px
  padding-top 24px
  
  &__slider
    display flex

  &__about
    max-width 360px
  
.slider-nav
  width 52px

  &__img
    margin-bottom 10px
    opacity 0.5

  &__item
    cursor pointer
    
    &:focus
      outline none
    
    &.slick-current .slider-nav__img
      padding 2px
      opacity 1
      border 1px solid #b6926f
 
    & img
      display block
      max-height 100%

.slider
  margin-left 10px
  max-width 470px
  
  &__item img
    display block
    max-height 100%
  
.product-buy
  display flex
  justify-content space-between
  align-items center
  padding 5px 0
  
  .main-heading + &
    margin-top 15px
    
  & .product-price
    font-size 28px
    line-height 42px
    
  & + *
    margin-top 55px

.description-list
  display flex
  flex-direction column
  
  &__item
    display flex
    justify-content space-between
    align-items center
    min-height 41px
    border 1px solid #eaeaea
    border-width 1px 0 0 0
    
    &:last-child
      border-width 1px 0
      
.description-name__size
  font-size 13px
  color #838383
  text-decoration underline
  
.description-definition--uncover
  position relative
  width 44px
  height 41px
  cursor pointer
  
  &:after
    content ''
    position absolute
    bottom 50%
    right 50%
    width 5px
    height 5px
    border 2px solid #838383
    border-width 0 0 2px 2px
    transform translate(50%, 50%) rotate(-45deg)
    
.description-list + .description-text
  margin-top 50px

.description-text
  font-size 13px
  line-height 24px
  
.similar-products
  padding-bottom 25px
  
  &__head
    display flex
    justify-content space-between
    align-items center
    
  &__head + &__content
    margin-top 40px
    
  &__link
    display flex
    align-items center
    text-transform uppercase
    color #b6926f
    vertical-align middle
    
    img
      order -1
      margin-right 17px
      
.recently-viewed
  padding-bottom 100px
  
  & .main-heading + &__content
    margin-top 40px      
    
    