@media screen and (max-width: 1130px)

  //------------------------vintage collection
    
  .collection-head:after
    height 73%
    
  //------------------------header
    
  .open-bag
    left -40%
    
    &__container:before
      left 80%
      
  .popup
    &__content
      padding 40px 0 20px
      
    &__wrapper
      padding 0 120px 0 100px

@media screen and (max-width: 1024px)

  //------------------------vintage collection
  
  .collection
    
    &-img
      width 50%
      height 650px
      transform translateY(0)
      overflow hidden
    
    &-roadmap
      background-color #f4eee5
    
    &-decorate
      position static
      margin-top 50px
      
    &-bg
      display none
      
    &-head
      margin-bottom 0
      background-color #f4eee5
      
      &:after
        display none 

  //------------------------blog
  
  .publications
    flex-direction column
    justify-content flex-start
    align-items center
    
    &__content .link-container
      left 85%

@media screen and (max-width: 960px)

  .selection-list + .selection-list
    margin-left 30px

  .popup
    max-width 80%
  
  .one-product
    flex-direction column
    align-items center
    padding-top 0
    
    &__about
      margin-top 30px
      max-width 650px
      
  //------------------------bag
    
  .buyer-info
    
    &__item + &__item
      margin-left 40px
    
    &-field--street
      width 470px
    
    &-field--long
      width 230px
      
    &-field--short
      width 200px

    &__item + &__checkbox
      margin-left 25px
      
    &__checkbox + &__item
      margin-left 35px


@media screen and (max-width: 819px)

  .buyer-info-row--wrap
    flex-wrap wrap
    align-content space-between
    justify-content space-around
    min-height 180px


@media screen and (min-width: 768px)

  .filter-products
    display none
    
@media screen and (max-width: 768px)

  body
    padding-top 50px

  //------------------------header

  .back
    z-index 10
    position fixed
    top 0
    left 0
    display block
    padding-left 25px
    width 90%
    height 50px
    background-color #fff
    
    .close-up
      height 50px

  .main-header--scroll
    height 50px

    & .logo-scroll
      display none
      
    & .main-logo
      padding 0
  
  .logo-static
    display none
    
  .logo-mobile
    display block
  
  .main-logo
    align-items center
    padding 0
    height 50px

  .menu-open
    display block
  
  .open-nav
    position fixed
    left -100vw
    transition all 0.2s ease-out
    
    &--active
      transform translate(100vw, -50px)
      
  .main-menu
    flex-direction column
    
    &__item
        width 100%
        min-height 40px
        transition all 0.3s
      
      &__item + &__item
        margin-left 0
        
    &__link
      padding 0
  
  .main-nav
    flex-direction column
    justify-content flex-start
    padding 22px
    width 100vw
    height 100vh
    max-width 100%
    background-color #fff
    
    .socials
      display flex
    
    .close-up + .lang
      margin-top 35px
      
    .lang + .main-menu 
      margin-top 35px
      
    .main-menu + .socials
      margin-top 55px
    
  .user-bag
    display none
    
  .close-up
    display flex
    align-items center
    
  .bag-mobile
    display block

  //------------------------bag
  
  .in-bag
    padding-bottom 45px
    
    &__item
      width 50%
    
    &__item:last-child
      width 50%
      
    &__about
      
      & .in-bag__color-size
        display block
      
    &__content--indent
      display flex
      flex-direction column
      justify-content center
      padding-top 0
      padding-left 100px
    
    &__header--hide
      display none
      
    &__header--indent
      padding-left 100px
      
    &__item:nth-child(2)
      display none
      
    &__container + .bag-payment
      margin-top 25px
      
  .bag-payment
    flex-direction column-reverse
    
    &__money
      justify-content center
      width 100%
      margin-bottom 25px
      
  .buyer-info
    display flex
    flex-direction column
    align-items center
    padding-top 15px
    
    & + .button-container
      margin-top 30px
    
    &-row
      flex-direction column
      align-items flex-start
      width 270px
      
      &--indent
        flex-direction row
        width 100%
      
      & + &
        margin-top 0
    
    &-field--street
      width 270px
    
    &-field--long
      width 270px
      
    &-field--short
      width 270px
      
    &__item + &__item
      margin 15px 0 0
      
    &__item + &__checkbox
      margin-left 0
      margin-top 10px
      
    &__item + .input-container
      margin 15px 0 0
    
    &__checkbox + &__item
      margin-left 0
      
    & + .shipping-subtitle
      margin-top 40px
      
  .auxiliary-link__show
    display block
      
  //------------------------shipping
    
  .shipping
    padding-top 30px
    
    &-informations
      margin-top 20px
      
      .form-roadmap:before
        content ''
        position absolute
        top 30%
        left 0
        width 9px
        height 5px
        border 3px solid #b6926f
        border-width 0 0 3px 3px
        transform translateY(50%) rotate(-45deg)
      
      &__item
        display none
        
        &--active
          display block
      
      &__step
        margin-top 0
    
    &-subtitle
      border-bottom none
      
    &-header
      font-size 30px
      line-height 40px
      
  .form-roadmap
    position relative
    display flex
    justify-content space-between
    padding-left 20px
    
    .auxiliary-link
      margin-left 0
      
    &__container
      display flex
    
      .auxiliary-link
        display block

  .cart-summary
    margin-top 0
      
    &__container
      padding 25px 15px

  //------------------------vintage collection
      
  .arrow-vertical
    display none
  
  .collection
    
    &-img
      position relative
      height auto
    
    &-info
      padding-top 20px
    
    &-content
      margin-right 10px
    
      &__container
        margin 30px 0 0 30px
        
  //------------------------filter
  
  .filter
    display none
    
    &-mobile
      display block
      height 50px
      font-size 13px
      line-height 50px
      color #fff
      text-align center
      background-color #d7c099

  //----------------------- Product
  
  .product
    padding-top 26px
    
    &-size
      display none
    
    &-item
      margin-bottom 35px
      max-width 270px
      
      &__img
        width 270px
        
        img
          width 100%
          max-width 270px
    
    &-list
      justify-content space-around
  
  .size-mobile
    display block

  .pages
    padding-bottom 60px
    
    &__item
      width 40px
      height 40px
      
      &--hide
        display none
    
    &__container
      flex-direction column
      align-items center
      
    &__numbers + &-toggle
      margin-top 30px

  //------------------------slider
    
  .slider
    margin 0
    max-width 320px
    height 455px

    &-nav
      display none
      
  .one-product__slider
    position relative
    
    .auxiliary-info
      display block
      
  .product-buy__button
    width 150px
    
  .recomendations-slider
    width 270px
       
    .product-item
      margin 0 auto
      
    .slick-dots
      bottom -50px
      left -18px
      width 80px
  
  .recomendations-container
    display flex
    justify-content center
    
  .similar-products + .recently-viewed
    margin-top 60px
    padding-bottom 120px
  
  //------------------------blog
    
  .blog .main-event
    padding-top 30px
    
  .arrow-link:hover
    width 52px
    
  .roadmap
    display none
    
  .blog-news
    padding-bottom 50px
    
    &__container
      flex-direction column
  
  .blog-content
    align-self center
    
    & + .side-bar
      margin 25px 0 0 0
  
  .sign-up
    margin-top 20px

  .news-container
    display flex
    flex-wrap wrap
    justify-content space-around
    
  .side-news 
    margin 10px
    width 230px
    min-height 300px
    
    & + &
      margin-top 10px
    
  .side-bar
    display flex
    flex-wrap wrap
    justify-content space-around
    max-width 100%
    
    .sign-up__container
      width 100%
      
    .form-ask__item
      width 300px
    
    &__social
      width 236px
      
      & + &
        margin 0
    
  .share
    flex-direction row
    width 100%
    
    & + .blog-content
      margin 40px 0 0 0
    
    &__social + &__social
      margin 0 0 0 6px
    
    &__quantity
      margin 0 10px 0 0
      
  //------------------------main-offer
    
  .main-offer
    
    &__item:first-child
      margin-top 100px
      
  .main-event
    padding-bottom 50px
    
    &__container
      flex-direction column
      align-items center
      
  .block-img
    display flex
    flex-direction column
    align-items center
    width 100%
      
  .block-content
    width 100%
    
    &__wrapper
      padding-top 35px
      max-width 590px
      min-height 0
      
      & .link-container
        left 87%


  //------------------------contacts and faq
  
  .faq
    padding 30px 0
    
    &__wrapper
      flex-direction column
      align-items center
      margin-bottom 35px
      
    .accordeon-header
      text-align center
  
  .accordeon-header + .accordeon
    margin-top 35px
  
  .our-contacts
    
    & + .to-ask
      margin-top 50px
      
    &__address
      span
        display block
      
    &__item
      text-align center
      
      & + &
        margin-top 40px
    
      .contacts-socials
        justify-content center
        
      &:last-child
        margin-top 0
        line-height 26px

  //------------------------offer
    
  .accordeon-inner
    padding-left 60px

  //------------------------notification
    
  .general-heading
    font-size 30px
    line-height 40px
    
  //------------------------footer
    
  .main-footer
    min-height 256px
    
    &__container
      justify-content center
    
    &__list
      display none
      
    &__copyright
      
      .main-footer__container
        justify-content space-between
      
      .copyright
        display none
        
      .socials
        display none
    
    &__item
      display block
      height 50px
      line-height 50px
      
  .popup
    padding 20px 25px
    max-width 90%
    
    &__content
      margin-top 65px
      padding 0
      
    &__wrapper
      padding 0
    
    &__btn-container
      justify-content center
      padding 0
      
      .main-btn
        width 270px
    
  .close
    display none
     
@media screen and (max-width: 650px)

  //------------------------shipping
    
  .cart-summary
    
    &__container
      flex-direction column
      align-items center
      padding 0
      border-width 1px 0
      
    &__items
      display none
    
  .summary-amount
    padding 20px 0
    max-width 90%
  
  .shipping
    
    &-step:last-child
      min-height 412px

    &-steps
      padding 35px 0 55px
      
    &-heading + &-subtitle
      margin-top 30px
      
  .choose-method
    flex-direction column
    padding-top 10px
    
    &__hint
      margin-left 15px
    
    &__item + &__item
      margin-top 20px

  //------------------------bag
    
  .buyer-info
    padding-top 0
    
    & + .payment
      margin-top 40px
    
    &-row--indent
      flex-direction column
      padding-left 0
      width 270px
    
    &__payment + &__payment
      margin 20px 0 0
  
  .in-bag  
    
    &__content--indent
      padding-left 50px
    
    &__header--indent
      padding-left 50px
  
    &__item
      width 100%

      &:last-child
        display none
        
    &__about
      
      .price-inner
        display flex
    
    &__img + &__about
      margin-left 10px
      
  .bag-payment
    
    .auxiliary-link
      margin-top 25px
    
    &__inner
      margin 0 0 25px
    
    &__money
      flex-direction column-reverse
      margin-bottom 0
      
    &__pay
      margin-left 35px
    
    &__amount span
      margin-left 12px

  //------------------------vintage collection
  
  .collection
    
    &-head
      background-color transparent
      
      .auxiliary-info
        display block
      
    &-content
      margin 0
      padding 0 25px
      width 100%

      &__container
        margin-left 0
        max-width 100%
   
    &-info
      flex-direction column
      align-items center
    
    &-img
      order -1
      width 320px
      transform translateY(0)
      
      &__mobile
        display block
        
      &__desktop
        display none

  //------------------------offer
  
  .offer
    padding 35px 0
    
    &__paragraph
      padding-right 0
      
      & + .accordeon
        margin-top 35px
  
  .arrow-container
    display flex
    justify-content flex-end

  .accordeon
    margin 0 -25px
    width 100vw
    
    &__item
      min-height 70px
    
    &-header
      font-size 30px
      line-height 40px
      padding-right 20px
      
    &-trigger
      padding 0 25px
      min-height 70px
      
      .accordeon-arrow
        display none
    
    &-arrow--inside
      display block
      transform rotate(180deg)

    &-inner
      padding 0 25px
      
      &__item
        margin-top 20px
     
  //------------------------main-offer
    
  .main-offer
    justify-content center
    min-height 480px
    
    &__content
      display flex
      flex-direction column
    
    &__link
      display block
      
      & + &
        margin-top 50px
      
      .main-btn
        justify-content center
        margin 0 auto
        padding-right 30px
        width 270px
      
    &__item
      display none
      
  //------------------------similar product
    
  .similar-products
    position relative
    padding-bottom 40px
    
    &__link
      position absolute
      bottom 0
      right 0

@media screen and (max-width: 480px)

  //------------------------header
  
  .back
    width 85%

  .menu-open
    width 13px
    height 9px
    
    &__line
      height 1px
      
      & + &
        margin-top 3px
        
  //------------------------bag
    
  .shipping-heading
    flex-direction column
    
  .step-number
    margin 0
    padding 0 0 10px
    

  //------------------------shipping
    
  .shipping
    padding-top 25px
    
    &-step:last-child
      min-height 447px
    
  .button-container
    justify-content center
    border none
    
    .main-btn
      width 270px
    
  .cart-summary__container
    margin 0 -25px
    
  .summary-amount
    padding 20px 25px 25px
    max-width 100%
    
    &__item--line
      border-width 2px
    
  //------------------------vintage collection
  
  .collection
    
    .one-product
      padding-top 35px
    
    &-photos
      flex-direction column
      flex-wrap nowrap
      align-items center
      
      &__video
        width 320px
        
      &__item
        width 320px
    
    &-decorate
      flex-direction column
      align-items center
      
      &__item
        width 320px
      
    
    &-content
      padding 0
      
    &-info
      padding-top 0
      
  //------------------------blog
    
  .blog
    padding-bottom 0 
    
    .main-event
      padding 0
      
    .block-content
      width 110%
      transform translate(-15px, -60px)
      
      &__wrapper
        padding-left 30px
    
  .blog-content
    padding 0
    
    &__list
      padding-left 15px
    
    &__img
      margin 0 -25px

  .publications
    &__content .link-container
      left 80%
      
  .content-data + .main-heading
    margin-right 0
    
  .uttering
    margin-left 0
    
  .quote
    display block
    
    &__author
      margin 20px 0 0

  //------------------------main-offer
    
  .main-offer
    background #ece7dd url('../img/small-bg.png') center no-repeat
    background-size cover
    
    &__link
      
      & + &
        margin-top 17px
        
  .sign-up
    margin-top 55px
    
    &__container
      flex-wrap wrap
    
    .form-ask__item
      width 270px
      text-align center
      
    .form-ask__btn
      margin-top 17px
        
  .block-img
    width 100vw
  
  .block-content
    align-items flex-start
    
    &__wrapper .link-container
      left 80%
      
  //------------------------notification
    
  .notification
    padding 50px 0 120px

  //------------------------footer
   
  .popup
    max-width 100vw
    max-height 100vh
    
    &__content * + p
      margin-top 20px
    
    &-showrooms
      flex-direction column
      align-items flex-start
      margin-top 20px
      
      &__item
        width 100%
      
        & + &
          margin-top 25px
        
    &__wrapper + &__btn-container
      margin-top 40px
      

  .main-heading
    font-size 30px
    line-height 40px
    
        
@media screen and (max-width: 320px)

  .block-content__wrapper
    max-width 240px
    
    & .arrow-link
      margin-left 90%
      
  .security-code
    left -3.5%
    
    &:after
      right 19.5%
    