//---------------Shipping info
.cart-summary
  margin-top 5px
    
  .form-roadmap + &__container
    margin-top 15px
    
  &__container
    display flex
    justify-content space-between
    padding 30px 55px
    border 1px solid #eaeaea
    
  &__item
    
    & + &
      margin-top 20px
    
    & img
      width 50px
      height 50px
      
    & img + .cart-summary__info
      margin-left 10px
      
  &__link
    display flex

  &__price
    margin-left 35px
    font-weight bold

  &__about
    display block
    font-size 13px
    color #838383

.form-roadmap
  font-size 13px
  
  & .auxiliary-link
    margin-left 15px
    
.summary-amount
  width 100%
  max-width 240px
  
  &__item
    display flex
    justify-content space-between
    
    &--line
      padding-top 10px
      border-top 1px solid #343434
      
      & .summary-amount__price
        font-size 28px
        line-height 28px
    
    & + &
      margin-top 14px
    
  &__price
    font-weight bold
    
//---------------Shipping form
.shipping

  &-steps
    padding 60px 0 170px
    user-select none
    
  &-step--hide
    display none
  
  &-heading
    display flex
    
    & + .shipping-subtitle
      margin-top 35px
    
  &-header
    margin 0
    font-size 42px
    line-height 56px
    font-weight normal
  
  &-subtitle
    padding-bottom 10px
    font-weight bold
    border-bottom 1px solid #eaeaea
    
.step-number
  margin-right 10px
  padding-top 7px
  font-size 22px

.choose-method
  display flex
  justify-content space-between
  padding-top 25px
  
  &__item
    max-width 230px
    cursor pointer
    
    & .label
      margin-left 10px
      font-size 13px
      font-weight bold
      color #343434
      
    & + .checkbox-message
      margin-top 35px
  
  &__hint
    margin-left 20px
    display block
    font-size 13px
    color #838383

.checkbox-message
  display flex
  flex-direction column
  justify-content center
  width 100%
  height 86px

.button-container
  padding-top 26px
  display flex
  justify-content flex-end
  border-top 1px solid #d7c099
  
  & .main-btn:hover
      background-color #d7c099
      
.shipping-informations
  
  &__item
    margin-top 35px
  
  &__step
    margin-top 70px
    display none
    
    &--active
      display block
  
  &__inner
    display flex
    
    & + &
      margin-top 30px

  &__name
    width 100%
    max-width 180px
    font-weight bold
    
  &__content
    font-size 13px
    color #838383
    
    & p
      display block
      
  .form-roadmap
    height 50px
    line-height 50px
    border-bottom 1px solid #eaeaea

//-------------- Step 2

.buyer-info
  padding-top 25px
  
  &__checkbox
    display flex
    align-items center
    height 45px
  
  & + .shipping-subtitle
    margin-top 65px
  
  & + .button-container
    margin-top 70px
  
  & + .payment
    margin-top 65px
  
  &-row
    display flex
    align-items flex-end
    width 100%
    
    & + &
      margin-top 10px
      
    &--indent
      padding-left 10px
  
  &__item
    
    & + .buyer-info__checkbox
      margin-left 45px
    
    & + .input-container
      margin-left 40px

    & + &
      margin-left 70px
      
    & + &--indent
      margin-left 50px
    
  &-field
    padding 10px 17px 15px
    max-width 100%
    height 45px
    font-size 13px
    border 1px solid #eaeaea
    outline none
    
    &:focus
      border-color #d7c099
      
    &:valid:not(:placeholder-shown)
      border-color #eaeaea
    
    &:invalid:not(:placeholder-shown)
      border-color red
    
    &--long
      width 290px
      
    &--short
      width 230px
      
    &--smaller
      width 115px
      
    &--street
      width 590px
      
    &--code
      width 100px
      
      &::placeholder
        text-align center
        color #343434
        letter-spacing 1.5px
        
        :focus&
          color transparent
    
  &__label
    margin-bottom 5px
    font-size 13px
    color #838383
    
  &__img
    max-height 40px
    line-height 0
    
  &__payment
    cursor pointer
    opacity 0.5

    & + &
      margin-left 100px

.main-select
  max-width 100%
  height 45px
  font-size 13px

.card-focus
  
  &-container
    position relative

  &-img
    position absolute
    bottom 11.5px
    right 10px
    max-width 100%
    display none
    line-height 0
    
  &:focus + &-img
    display block

.input-container
  position relative
  display flex
  
  .buyer-info__item + .buyer-info__item
    margin 0
    
.buyer-info__checkbox + .buyer-info__item
  margin-left 80px
  
.payment
  margin-top 65px
  &-active
    opacity 1

.security-code
  position absolute
  top 28px
  left -25px
  padding 15px 25px
  display none
  width 285px
  height 250px
  border 2px solid #eaeaea
  border-radius 7px
  background-color #fff
  transform translateY(-100%)
  
  &:after
    content ''
    position absolute
    bottom -7px
    right 13.5%
    width 10px
    height 10px
    border 2px solid #eaeaea
    border-width 0 2px 2px 0
    background-color #fff
    transform rotate(45deg)

  &--active
    display block
    
  &__heading
    margin 0 auto
    padding-bottom 10px
    max-width 170px
    text-align center
    
    & span
      margin-right 5px
      font-weight bold
  
.security-toggle
  position absolute
  top 60%
  right 8px
  display flex
  justify-content center
  align-items center
  width 15px
  height 15px
  border-radius 50%
  background-color #838383
  font-size 13px
  line-height 13px
  font-weight 800
  color #fff
  cursor pointer
    
.security-card
  padding-top 28px
  width 230px
  height 142px
  border-radius 7px
  background-color #d7c099
  
  &__line
    margin-bottom 25px
    width 100%
    height 30px
    background-color #343434
    
  &__container
    padding-left 23px
    display flex
    
  &__filed
    margin-right 15px
    width 128px
    height 30px
    background-color #fff
    
  &__code
    width 50px
    height 28px
    font-weight bold
    text-align center
    border 2px solid #e57373

