.successful
  padding 95px 0 235px
  
  &__chek-mark
    display flex
    justify-content center
    width 100%
 
  &__img
    display flex
    justify-content center
    align-items center
    width 50px
    height 50px
    border 2px solid #eaeaea
    border-radius 50%
    
  &__btn
    margin-top 25px
    width 100%
    
    .main-btn
      position relative
      margin 0 auto
      padding-right 80px
      justify-content flex-end
      width 230px
      
      &:after
        content ''
        position absolute
        bottom 50%
        right 20px
        width 6px
        height 6px
        border 3px solid #b6926f
        border-width 0 3px 3px 0
        transform translateY(50%) rotate(-45deg)
    
.general-heading
  margin 25px 0
  font-size 42px
  line-height 56px
  font-weight bold
  color #7bdaa3
  text-align center
  
.manager-message
  
  &__text
    display block
    text-align center
    
    span 
      font-weight bold