extends layout/main.pug

block title
  | Contacts
block content
  include header
  section.faq.header-indent
    .wrapper
      .faq__content
        .faq__wrapper
          .our-contacts
            .our-contacts__item
              p.our-contacts__name Showroom 1
              p.our-contacts__address Kyiv, Redutnaya str., 8
              p.our-contacts__number +38 095 353 33 42
            .our-contacts__item
              p.our-contacts__name Showroom 2
              p.our-contacts__address Kyiv, Redutnaya str., 8
              p.our-contacts__number +38 095 353 33 42
            .our-contacts__item
              .contacts-socials
                a.contacts-socials__link(href='#')
                  img(src='img/insta.png' alt='alt')
                a.contacts-socials__link(href='#')
                  img(src='img/tweet.png' alt='alt')
                a.contacts-socials__link(href='#')
                  img(src='img/fb.png' alt='alt')
                a.contacts-socials__link(href='#')
                  img(src='img/vk.png' alt='alt')
            .our-contacts__item
              a.site-info(href='#') info@goldvintage.net
          .to-ask
            form(action='#' method='post')
              .form-ask
                input.form-ask__item(type='text' autocomplete='on' placeholder='Full name')
                input.form-ask__item(type='email' autocomplete='on' name='login' placeholder='Phone or email')
                .form-ask__container
                  textarea.form-ask__item.form-ask__textarea(name='comment' placeholder='Your question')
                input.form-ask__item.form-ask__btn(type='submit' value='send message')
        h2.accordeon-header.contacts__header--indent Have a question?
        .accordeon
          ul.accordeon__list
            li.accordeon__item
              a.accordeon-trigger(href='#') Lorem ipsum dolor sit amet, consectetuer adipiscing elit?
                span.accordeon-arrow.helper
              ul.accordeon-inner
                li.accordeon-inner__item 
                  p Donec pharetra gravida leo vitae pretium. Curabitur mauris libero, vehicula at euismod sit amet, porta vitae ante. Nulla ullamcorper turpis in pretium iaculis. Vestibulum pulvinar, sapien sit amet venenatis eleifend, ante felis gravida diam, eu pellentesque dui velit nec sapien. 
            li.accordeon__item
              a.accordeon-trigger(href='#') Vestibulum pulvinar, sapien sit amet venenatis eleifend, ante felis gravida diam, eu pellentesque dui velit nec sapien?
                span.accordeon-arrow
              ul.accordeon-inner
                li.accordeon-inner__item 
                  p Donec pharetra gravida leo vitae pretium. Curabitur mauris libero, vehicula at euismod sit amet, porta vitae ante. Nulla ullamcorper turpis in pretium iaculis. Vestibulum pulvinar, sapien sit amet venenatis eleifend, ante felis gravida diam, eu pellentesque dui velit nec sapien.
            li.accordeon__item
              a.accordeon-trigger(href='#') Lorem ipsum dolor sit amet, consectetuer adipiscing elit?
                span.accordeon-arrow
              ul.accordeon-inner
                li.accordeon-inner__item 
                  p Donec pharetra gravida leo vitae pretium. Curabitur mauris libero, vehicula at euismod sit amet, porta vitae ante. Nulla ullamcorper turpis in pretium iaculis. Vestibulum pulvinar, sapien sit amet venenatis eleifend, ante felis gravida diam, eu pellentesque dui velit nec sapien.
            li.accordeon__item
              a.accordeon-trigger(href='#') Curabitur mauris libero, vehicula at euismod sit amet, porta vitae ante?
                span.accordeon-arrow
              ul.accordeon-inner
                li.accordeon-inner__item 
                  p Donec pharetra gravida leo vitae pretium. Curabitur mauris libero, vehicula at euismod sit amet, porta vitae ante. Nulla ullamcorper turpis in pretium iaculis. Vestibulum pulvinar, sapien sit amet venenatis eleifend, ante felis gravida diam, eu pellentesque dui velit nec sapien.
            li.accordeon__item
              a.accordeon-trigger(href='#') Vestibulum pulvinar, sapien sit amet venenatis eleifend, ante felis gravida diam, eu pellentesque dui velit nec sapien?
                span.accordeon-arrow
              ul.accordeon-inner
                li.accordeon-inner__item 
                  p Donec pharetra gravida leo vitae pretium. Curabitur mauris libero, vehicula at euismod sit amet, porta vitae ante. Nulla ullamcorper turpis in pretium iaculis. Vestibulum pulvinar, sapien sit amet venenatis eleifend, ante felis gravida diam, eu pellentesque dui velit nec sapien.
            li.accordeon__item
              a.accordeon-trigger(href='#') Lorem ipsum dolor sit amet, consectetuer adipiscing elit?
                span.accordeon-arrow
              ul.accordeon-inner
                li.accordeon-inner__item 
                  p Donec pharetra gravida leo vitae pretium. Curabitur mauris libero, vehicula at euismod sit amet, porta vitae ante. Nulla ullamcorper turpis in pretium iaculis. Vestibulum pulvinar, sapien sit amet venenatis eleifend, ante felis gravida diam, eu pellentesque dui velit nec sapien.
            li.accordeon__item
              a.accordeon-trigger(href='#') Curabitur mauris libero, vehicula at euismod sit amet, porta vitae ante?
                span.accordeon-arrow
              ul.accordeon-inner
                li.accordeon-inner__item 
                  p Donec pharetra gravida leo vitae pretium. Curabitur mauris libero, vehicula at euismod sit amet, porta vitae ante. Nulla ullamcorper turpis in pretium iaculis. Vestibulum pulvinar, sapien sit amet venenatis eleifend, ante felis gravida diam, eu pellentesque dui velit nec sapien.
            li.accordeon__item
              a.accordeon-trigger(href='#') Lorem ipsum dolor sit amet, consectetuer adipiscing elit?
                span.accordeon-arrow
              ul.accordeon-inner
                li.accordeon-inner__item 
                  p Donec pharetra gravida leo vitae pretium. Curabitur mauris libero, vehicula at euismod sit amet, porta vitae ante. Nulla ullamcorper turpis in pretium iaculis. Vestibulum pulvinar, sapien sit amet venenatis eleifend, ante felis gravida diam, eu pellentesque dui velit nec sapien.
            li.accordeon__item
              a.accordeon-trigger(href='#') Curabitur mauris libero, vehicula at euismod sit amet, porta vitae ante?
                span.accordeon-arrow
              ul.accordeon-inner
                li.accordeon-inner__item 
                  p Donec pharetra gravida leo vitae pretium. Curabitur mauris libero, vehicula at euismod sit amet, porta vitae ante. Nulla ullamcorper turpis in pretium iaculis. Vestibulum pulvinar, sapien sit amet venenatis eleifend, ante felis gravida diam, eu pellentesque dui velit nec sapien.
  include footer

  script(type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
  script(src='js/common.js')