.gold-filter.header-indent
    .filter
      .wrapper
        .filter__container
          ul.filter__list
            li.filter__item
              a.filter__link.filter__link--active(href='#') All
            li.filter__item
              a.filter__link(href='#') Clothes
            li.filter__item
              a.filter__link(href='#') Shoes
            li.filter__item
              a.filter__link(href='#') Bags
            li.filter__item
              a.filter__link(href='#') Accessories
            li.filter__item
              a.filter__link(href='#') Sale
          .filter-sex
            form(action='#' method='post')
              label.filter-sex__item
                input.radio(type='radio' name='sex' value='man')
                span.radio-custom
                span.label Man
              label.filter-sex__item
                input.radio(type='radio' name='sex' value='woman' checked)
                span.radio-custom
                span.label Woman
          .selection
            .selection-list#brands Brands
            .selection-list#sizes All sizes
              .selection-items.selection-items--small#sizes-items
                .wrapper
                  ul.selection-items__container
                    li.selection-items__item
                      a.selection-items__link(href='#') xs
                    li.selection-items__item
                      a.selection-items__link(href='#') s
                    li.selection-items__item
                      a.selection-items__link(href='#') m
                    li.selection-items__item
                      a.selection-items__link(href='#') l
                    li.selection-items__item
                      a.selection-items__link(href='#') xl
          .button-new
            a.button-new__link(href='#')
              span.arrow-inactive
              span.button-new__name.button-new__name--inactive New
            a.button-new__link(href='#')
              span.accordeon-arrow
              span.button-new__name Price
      .selection-items#brands-items
        .wrapper
          ul.selection-items__container
            li.selection-items__item
              a.selection-items__link(href='#') All brands
            li.selection-items__item
              a.selection-items__link(href='#') Alexander McQueen
            li.selection-items__item
              a.selection-items__link(href='#') Azzedine Alaia
            li.selection-items__item
              a.selection-items__link(href='#') Balenciaga
            li.selection-items__item
              a.selection-items__link(href='#') Balmain
            li.selection-items__item
              a.selection-items__link(href='#') Brioni
            li.selection-items__item
              a.selection-items__link(href='#') Céline
            li.selection-items__item
              a.selection-items__link(href='#') Emilio Pucci
            li.selection-items__item
              a.selection-items__link(href='#') Fendi
            li.selection-items__item
              a.selection-items__link(href='#') Giorgio Armani
            li.selection-items__item
              a.selection-items__link(href='#') Givenchy
            li.selection-items__item
              a.selection-items__link(href='#') Lanvin
            li.selection-items__item
              a.selection-items__link(href='#') Stella McCartney
            li.selection-items__item
              a.selection-items__link(href='#') Balmain
            li.selection-items__item
              a.selection-items__link(href='#') Brioni
            li.selection-items__item
              a.selection-items__link(href='#') Céline
            li.selection-items__item
              a.selection-items__link(href='#') Emilio Pucci
            li.selection-items__item
              a.selection-items__link(href='#') Fendi
            li.selection-items__item
              a.selection-items__link(href='#') Giorgio Armani
            li.selection-items__item
              a.selection-items__link(href='#') Givenchy
            li.selection-items__item
              a.selection-items__link(href='#') Lanvin
            li.selection-items__item
              a.selection-items__link(href='#') Stella McCartney
            li.selection-items__item
              a.selection-items__link(href='#') Tom Ford
            li.selection-items__item
              a.selection-items__link(href='#') Victoria Beckham
            li.selection-items__item
              a.selection-items__link(href='#') Vionnet
            li.selection-items__item
              a.selection-items__link(href='#') Zilli
            li.selection-items__item
              a.selection-items__link(href='#') Balmain
            li.selection-items__item
              a.selection-items__link(href='#') Brioni
            li.selection-items__item
              a.selection-items__link(href='#') Céline
            li.selection-items__item
              a.selection-items__link(href='#') Emilio Pucci
            li.selection-items__item
              a.selection-items__link(href='#') Fendi
            li.selection-items__item
              a.selection-items__link(href='#') Giorgio Armani
            li.selection-items__item
              a.selection-items__link(href='#') Givenchy
            li.selection-items__item
              a.selection-items__link(href='#') Lanvin
            li.selection-items__item
              a.selection-items__link(href='#') Stella McCartney
            li.selection-items__item
              a.selection-items__link(href='#') Tom Ford
            li.selection-items__item
              a.selection-items__link(href='#') Victoria Beckham
            li.selection-items__item
              a.selection-items__link(href='#') Vionnet
            li.selection-items__item
              a.selection-items__link(href='#') Zilli