footer.main-footer
  .wrapper
    .main-footer__container
      .main-footer__list
        a.name-list(href='vintage.html') vintage collection
        ul.footer-list
          li.footer-list__item
            a.footer-list__link(href='#') Collection 1
          li.footer-list__item
            a.footer-list__link(href='#') Collection 2
          li.footer-list__item
            a.footer-list__link(href='#') Collection 3
          li.footer-list__item
            a.footer-list__link(href='#') All collections
      .main-footer__list
        a.name-list(href='gold-comission.html') gold comission
        ul.footer-list
          li.footer-list__item
            a.footer-list__link(href='#') Clothes
          li.footer-list__item
            a.footer-list__link(href='#') Shoes
          li.footer-list__item
            a.footer-list__link(href='#') Assessories
          li.footer-list__item
            a.footer-list__link(href='#') Sale
      .main-footer__list
        a.name-list(href='blog.html') blog
        ul.footer-list
          li.footer-list__item
            a.footer-list__link(href='#') News
          li.footer-list__item
            a.footer-list__link(href='#') Interesting
          li.footer-list__item
            a.footer-list__link(href='#') Events
      .main-footer__list
        a.name-list(href='contacts.html') contacts and faq
        ul.footer-list
          li.footer-list__item
            a.footer-list__link(href='#') info@goldvintage.net
          li.footer-list__item
            a.footer-list__link(href='#') 
              span Kyiv, Redutnaya str., 8 
            span +38 095 353 33 42
          li.footer-list__item
            a.footer-list__link(href='#') 
              span Kyiv, Redutnaya str., 8 
            span +38 095 353 33 42
      .main-footer__list
        a.name-list(href='#') my bag
        ul.footer-list
          li.footer-list__item
            a.footer-list__link(href='offer.html') Оферта
      .feedback
        p.feedback__name Got vintage stuff?
        button#open-modal.main-btn contact us
        .overlay
          .popup
            span.close
            .popup__content
              .popup__wrapper
                h1.main-heading Got vintage stuff?
                p Если вы хотели бы продать или передать на реализацию  произведения искусства моды, мы готовы рассмотреть   варианты покупки или приема на комиссию таких вещей.
                p.popup-properties Наш наибольший интерес вызывают предметы, обладающие  двумя основными свойствами:
                  span.popup-properties__item знаменитый модный бренд;
                  span.popup-properties__item непосредственное отношение к нашему ассортименту:  одежда, сумки, часы, украшения, аксессуары, предметы   интерьера.
                p Свяжитесь с нами по телефону, чтобы договориться о  времени и привезти вещи в один из наших шоурумов.
                .popup-showrooms
                  .popup-showrooms__item
                    p.popup-showrooms__name Шоурум 1
                    span Kyiv, Redutnaya str., 8 
                    span.popup-showrooms__number +38 095 353 33 42
                  .popup-showrooms__item
                    p.popup-showrooms__name Шоурум 2
                    span Kyiv, Redutnaya str., 8 
                    span.popup-showrooms__number +38 095 353 33 42
              .popup__btn-container
                button.main-btn got it
  .main-footer__copyright
    .wrapper
      .main-footer__container
        .copyright
          small © 2016 GoldVintage
        .footer-socials
          p.footer-socials__title Follow us:
          a.footer-socials__link(href='#')
            img(src='img/insta.png' alt='alt')
          a.footer-socials__link(href='#')
            img(src='img/tweet.png' alt='alt')
          a.footer-socials__link(href='#')
            img(src='img/fb.png' alt='alt')
          a.footer-socials__link(href='#')
            img(src='img/vk.png' alt='alt')