header#header.main-header
  .wrapper
    .main-logo
      a.main-logo__link(href="index.html")
        img.logo-static(src='img/big-logo.png' alt='alt')
        img.logo-scroll(src='img/small-logo.png' alt='alt')
    nav.main-nav
      .lang
        a.lang__item.lang__item--active(href='#') eng
        a.lang__item(href='#') рус
      ul.main-menu
        li.main-menu__item
          a.main-menu__link(href='#') vintage collection
        li.main-menu__item
          a.main-menu__link(href='#') gold comission
        li.main-menu__item
          a.main-menu__link(href='#') blog
        li.main-menu__item
          a.main-menu__link(href='#') contacts and faq
      .user-bag
        .user-bag__img
          img(src='img/bag.png' alt='alt')
        a.user-bag__number(href='#') My bag (4)


