include helpers/mixins
header#header.main-header
  .wrapper
    button.menu-open
      span.menu-open__line
      span.menu-open__line
      span.menu-open__line
    .main-logo
      a.main-logo__link(href="index.html")
        img.logo-static(src='img/big-logo.svg' alt='alt')
        img.logo-scroll(src='img/small-logo.svg' alt='alt')
        img.logo-mobile(src='img/mobile-logo.svg' alt='alt')
    .bag-mobile
      .bag-mobile__quantity 0
        .bag-mobile__img
          img(src='img/mobile-bag.svg' alt='alt')
    nav.main-nav.open-nav
      .close-up#closeMenu
        .close-up__arrow
        p.close-text Back
      .lang
        a.lang__item.lang__item--active(href='#') eng
        a.lang__item(href='#') рус
      ul.main-menu
        +navLink('vintage.html', 'vintage collection')
        +navLink('gold-comission.html', 'gold comission')
        +navLink('blog.html', 'blog')
        +navLink('contacts.html', 'contacts and faq')
      .socials
          p.socials__title Follow us:
          a.socials__link(href='#')
            img(src='img/insta.png' alt='alt')
          a.socials__link(href='#')
            img(src='img/tweet.png' alt='alt')
          a.socials__link(href='#')
            img(src='img/fb.png' alt='alt')
          a.socials__link(href='#')
            img(src='img/vk.png' alt='alt')
      .user-bag
        .user-bag__container
          .user-bag__img
            img(src='img/bag.png' alt='alt')
          .user-bag__number My bag (4)
        .open-bag
          .open-bag__container
            span.open-bag__close
            .open-bag__product
              img(src='img/bag-photo.png' alt='alt')
              p.open-bag__name Leather stripes clutch
                span $ 160.00
            .open-bag__price Total:
              span $ 330.00
          .open-bag__links
            a.auxiliary-link(href="bag.html") View bag
            a.open-bag__pay(href="shipping-info.html") pay now


