extends layout/main.pug

block title
  | Gold Vintage
block content
  include header
  section.main-offer
    .main-offer__content
      .main-offer__item
        h2.offer-header 
          a(href='#') Gold Comission
        p.main-offer__info Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        a.arrow-link.arrow-link--normal(href='#')
      .main-offer__item
        h2.offer-header
          a(href='#') Vintage Collection
        p.main-offer__info Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        a.arrow-link.arrow-link--reverse(href='#')
      .main-offer__link
        a.main-btn.main-btn--arrow(href='gold-comission.html') gold comission
      .main-offer__link
        a.main-btn.main-btn--arrow(href='vintage-collection.html') vintage collection
  .sign-up
    .wrapper
      form(action='#' method='post')
        label.sign-up__name(for='general-submit') Sign up for our exclusive newsletter
        .sign-up__container
          input#general-submit.sign-up__email.form-ask__item(type='email' autocomplete='on' name='login' placeholder='Enter your Email')
          input.form-ask__btn.form-ask__item(type='submit' value='submit')
  article.main-event
    .wrapper
      .main-event__container
        .block-img
          img(src='img/article-photo.png' alt='alt')
        .block-content
          .block-content__wrapper
            p.content-data 17.04.2016 | Events
            h2.main-heading Monday to Friday
            p.block-content__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut augue a dui volutpat sodales rhoncus at lorem. Mauris dolor ante, elementum quis leo id, dictum convallis erat. Vestibulum at lorem at nisi tempor convallis. Ut at mauris maximus, facilisis nibh vitae, mollis elit. 
            .link-container
              a.arrow-link.arrow-link--normal(href='#')
  include footer