extends layout/main.pug

block title
  | Gold Comission
block content
  include header
  main.site-content
    .back
      a.close-up(href='blog.html')
        .close-up__arrow
        p.close-text Back
    .gold-staff-roadmap
      .wrapper
        .roadmap
          a.roadmap__item.roadmap__item--inactive(href='#') Main
          a.roadmap__item.roadmap__item--inactive(href='#') Gold comission
          a.roadmap__item(href='#') Flap cross-body bag
    .gold-staff
      .wrapper
        article.one-product
          .one-product__slider
            .slider-nav
              .slider-nav__item
                .slider-nav__img
                  img(src='img/one-staff-1.png' alt='alt')
              .slider-nav__item
                .slider-nav__img
                  img(src='img/one-staff-1.png' alt='alt')
              .slider-nav__item
                .slider-nav__img
                  img(src='img/one-staff-1.png' alt='alt')
              .slider-nav__item
                .slider-nav__img
                  img(src='img/one-staff-1.png' alt='alt')
              .slider-nav__item
                .slider-nav__img
                  img(src='img/one-staff-1.png' alt='alt')
            .slider
              .slider__item
                img(src='img/one-staff-1.png' alt='alt')
              .slider__item
                img(src='img/one-staff-1.png' alt='alt')
              .slider__item
                img(src='img/one-staff-1.png' alt='alt')
              .slider__item
                img(src='img/one-staff-1.png' alt='alt')
              .slider__item
                img(src='img/one-staff-1.png' alt='alt')
            .auxiliary-info xs
            .auxiliary-info.auxiliary-info--price $ 329
          .one-product__about
            h2.main-heading Flap cross-body bag
            .product-buy
              p.product-price $ 259
              a.product-buy__button.main-btn(href='#') shop now
            ul.description-list
              li.description-list__item
                p.description-name Article
                p.description-definition 123456
              li.description-list__item
                p.description-name Color
                p.description-definition Black
              li.description-list__item
                p.description-name Size (
                  a.auxiliary-link(href='#') size table
                  |)
                p.description-definition 10.63x3.94x9.45 mm
              li.description-list__item
                p.description-name Material & care
                p.description-definition.description-definition--uncover
            p.description-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut augue a dui volutpat sodales rhoncus at lorem. Mauris dolor ante, elementum quis leo id, dictum convallis erat. Vestibulum at lorem at nisi tempor convallis. Ut at mauris maximus, facilisis nibh vitae, mollis elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut augue a dui volutpat sodales rhoncus at lorem.
    .staff-recommendations
      .wrapper
        article.similar-products
          .similar-products__head
            h2.main-heading You might also like
            a.similar-products__link(href='#')
              img(src='img/4cub.svg' alt='alt') 
              | all comissions
          .similar-products__content.recomendations-container
            ul.product-list.recomendations-slider
              li
                .product-item
                  .product-item__img
                    .size-mobile
                      a.size-mobile__link(href='one-staff.html')
                        .size-mobile__item xs
                    .product-size
                      a.product-size__link(href='one-staff.html')
                        p.product-size__content Size
                          span xs
                        span.product-size__arrow
                          span.product-size__line
                    img(src='img/product-1.png' alt='alt')
                  a.product-title(href='#') Long printed jumpsuit
                  p.product-price $ 259
              li
                .product-item
                  .product-item__img
                    .size-mobile
                      a.size-mobile__link(href='one-staff.html')
                        .size-mobile__item xs
                    .product-size
                      a.product-size__link(href='one-staff.html')
                        p.product-size__content Size
                          span xs
                        span.product-size__arrow
                          span.product-size__line
                    img(src='img/product-2.png' alt='alt')
                  a.product-title(href='#') Cross-body small bag
                  p.product-price $ 259
              li
                .product-item
                  .product-item__img
                    .size-mobile
                      a.size-mobile__link(href='one-staff.html')
                        .size-mobile__item xs
                    .product-size
                      a.product-size__link(href='one-staff.html')
                        p.product-size__content Size
                          span xs
                        span.product-size__arrow
                          span.product-size__line
                    img(src='img/product-4.png' alt='alt')
                  a.product-title(href='#') Long printed jumpsuit
                  p.product-price $ 259
              li
                .product-item
                  .product-item__img
                    .size-mobile
                      a.size-mobile__link(href='one-staff.html')
                        .size-mobile__item xs
                    .product-size
                      a.product-size__link(href='one-staff.html')
                        p.product-size__content Size
                          span xs
                        span.product-size__arrow
                          span.product-size__line
                    img(src='img/product-13.png' alt='alt')
                  a.product-title(href='#') Cross-body small bag
                  p.product-price $ 259
        article.recently-viewed
          h2.main-heading Recently viewed
          .recently-viewed__content.recomendations-container
            ul.product-list.recomendations-slider
              li
                .product-item
                  .product-item__img
                    .size-mobile
                      a.size-mobile__link(href='one-staff.html')
                        .size-mobile__item xs
                    .product-size
                      a.product-size__link(href='one-staff.html')
                        p.product-size__content Size
                          span xs
                        span.product-size__arrow
                          span.product-size__line
                    img(src='img/product-3.png' alt='alt')
                  a.product-title(href='#') Long printed jumpsuit
                  p.product-price $ 259
              li
                .product-item
                  .product-item__img
                    .size-mobile
                      a.size-mobile__link(href='one-staff.html')
                        .size-mobile__item xs
                    .product-size
                      a.product-size__link(href='one-staff.html')
                        p.product-size__content Size
                          span xs
                        span.product-size__arrow
                          span.product-size__line
                    img(src='img/product-6.png' alt='alt')
                  a.product-title(href='#') Cross-body small bag
                  p.product-price $ 259
              li
                .product-item
                  .product-item__img
                    .size-mobile
                      a.size-mobile__link(href='one-staff.html')
                        .size-mobile__item xs
                    .product-size
                      a.product-size__link(href='one-staff.html')
                        p.product-size__content Size
                          span xs
                        span.product-size__arrow
                          span.product-size__line
                    img(src='img/product-7.png' alt='alt')
                  a.product-title(href='#') Long printed jumpsuit
                  p.product-price $ 259
              li
                .product-item
                  .product-item__img
                    .size-mobile
                      a.size-mobile__link(href='one-staff.html')
                        .size-mobile__item xs
                    .product-size
                      a.product-size__link(href='one-staff.html')
                        p.product-size__content Size
                          span xs
                        span.product-size__arrow
                          span.product-size__line
                    img(src='img/product-9.png' alt='alt')
                  a.product-title(href='#') Long printed jumpsuit
                  p.product-price $ 259
  include footer

