extends layout/main.pug

block title
  | Shipping info
block content
  include header
  .back
    a.close-up(href='bag.html')
      .close-up__arrow
      p.close-text Cart
  .shipping-roadmap.header-indent
    .wrapper
      .roadmap
        a.roadmap__item.roadmap__item--inactive(href='#') Main
        a.roadmap__item.roadmap__item--inactive(href='#') My bag
        a.roadmap__item(href='#') Shipping info
  section.shipping
    .wrapper
      .cart-summary
        p.form-roadmap Cart summary
          a.auxiliary-link(href='bag.html') Edit
        .cart-summary__container
          .cart-summary__items
            .cart-summary__item
              a.cart-summary__link(href='#')
                img(src='img/bag-item.png' alt='alt')
                .cart-summary__info
                  p.cart-summary__name Leather stripes clutch
                    span.cart-summary__price $ 160.00
                  p.cart-summary__about 1837652
            .cart-summary__item
              a.cart-summary__link(href='#')
                img(src='img/bag-item.png' alt='alt')
                .cart-summary__info
                  p.cart-summary__name Leather stripes clutch
                    span.cart-summary__price $ 160.00
                  p.cart-summary__about 1837652
          .summary-amount
            .summary-amount__item
              span.summary-amount__name Subtotal:
              span.summary-amount__price $ 320.00
            .summary-amount__item
              span.summary-amount__name Shipping:
              span.summary-amount__price $ 10.20
            .summary-amount__item.summary-amount__item--line
              span.summary-amount__name Total:
              span.summary-amount__price $ 330.20
      .shipping-informations
        .shipping-informations__step#infoStep-1
          p.form-roadmap Shipping method & gift options
            span.form-roadmap__container
              a.auxiliary-link.auxiliary-link__show(href='#') Show
              a#edit1.auxiliary-link(href='#') Edit
          .shipping-informations__item
            .shipping-informations__inner
              .shipping-informations__name Shipping method
              .shipping-informations__content
                p 5.50 $ 
                p Postal (5 - 8 business days)
        .shipping-informations__step#infoStep-2
          p.form-roadmap Shipping info
            span.form-roadmap__container
              a.auxiliary-link.auxiliary-link__show(href='#') Show
              a#edit2.auxiliary-link(href='#') Edit
          .shipping-informations__item
            .shipping-informations__inner
              .shipping-informations__name Shipping address
              .shipping-informations__content
                p Alyona Zhelezniak
                p 1341 Stanford str.
                p Santa Monica, CA 90404
                p US
            .shipping-informations__inner
              .shipping-informations__name Contact info
              .shipping-informations__content
                p kjhgdsxcuik@ukr.net
                p +380931430064
      section.shipping-steps
        form(action='#' method='post')
          section#step-1.shipping-step
            .shipping-heading
              span.step-number 1/3
              h1.shipping-header Shipping method & gift options
            p.shipping-subtitle Shipping method
            .choose-method
              label.choose-method__item
                input.radio(type='radio' name='shipping-method' value='5.50' checked)
                span.radio-custom
                span.label 5.50 $
                span.choose-method__hint Postal (5 - 8 business days)
              label.choose-method__item
                input.radio(type='radio' name='shipping-method' value='9.85')
                span.radio-custom
                span.label 9.85 $
                span.choose-method__hint Fast (1 - 5 business days)
              label.choose-method__item
                input.radio(type='radio' name='shipping-method' value='16.50')
                span.radio-custom
                span.label 16.50 $
                span.choose-method__hint Faster (2 business days)
              label.choose-method__item
                input.radio(type='radio' name='shipping-method' value='30.80')
                span.radio-custom
                span.label 30.80 $
                span.choose-method__hint Fastest (Next business day)
            .checkbox-message
              label
                input.checkbox(type='checkbox' name='add-message')
                span.checkbox-custom
                  span.check-mark
                span.label Add a gift message to this order
            .button-container
              button#btnStep-1.main-btn continue
          section#step-2.shipping-step.shipping-step--hide
            .shipping-heading
              span.step-number 2/3
              h1.shipping-header Shipping info
            p.shipping-subtitle Shipping adress
            .buyer-info
              .buyer-info-row
                label.buyer-info__item
                  p.buyer-info__label Country
                  select.main-select.buyer-info-field--long( name='country'   placeholder='Start typyng or select')
                    option Ukraine
                    option United States
                    option United Kingdom
                    option Uganda
                    option Ukraine
                label.buyer-info__item
                  p.buyer-info__label First name
                  input.buyer-info-field.buyer-info-field--short(type='text' name='first-name' placeholder=' ')
                label.buyer-info__item
                  p.buyer-info__label Last name
                  input.buyer-info-field.buyer-info-field--short(type='text' name='last-name' placeholder=' ')
              .buyer-info-row
                label.buyer-info__item
                  p.buyer-info__label Street address
                  input.buyer-info-field.buyer-info-field--street(type='text' name='street' placeholder=' ')
                label.buyer-info__checkbox
                  input.checkbox(type='checkbox' name='add-message')
                  span.checkbox-custom
                    span.check-mark
                  span.label This is a PO, APO or AE box
              .buyer-info-row
                label.buyer-info__item
                  p.buyer-info__label City
                  select.main-select.buyer-info-field--long(type='text' name='city' placeholder='Start typyng or select')
                    option Kyiv
                    option London
                    option Paris
                    option Moscow
                    option Riga
                label.buyer-info__item
                  p.buyer-info__label State / Province / Region
                  select.main-select.buyer-info-field--short(type='text' name='state' placeholder='Start typyng or select')
                    option Kyiv
                    option London
                    option Paris
                    option Moscow
                    option Riga
                label.buyer-info__item
                  p.buyer-info__label Postal code
                  input.buyer-info-field.buyer-info-field--code(type='text' name='state' placeholder='XXXXXX')
            p.shipping-subtitle Contact info
            .buyer-info
              .buyer-info-row
                label.buyer-info__item
                  p.buyer-info__label Email
                  input.buyer-info-field.buyer-info-field--long(type='email' autocomplete='on' name='login' placeholder=' ')
                label.buyer-info__checkbox
                  input.checkbox(type='checkbox' name='add-message')
                  span.checkbox-custom
                    span.check-mark
                  span.label Join our weekly newsletter
                label.buyer-info__item
                  p.buyer-info__label Phone (international orders only)
                  input.buyer-info-field.buyer-info-field--long(type='text' name='phone' placeholder=' ')
            .button-container
              button#btnStep-2.main-btn continue
          section#step-3.shipping-step.shipping-step--hide
            .shipping-heading
              span.step-number 3/3
              h1.shipping-header Payment info
            p.shipping-subtitle Secure payment info
            .buyer-info
              .buyer-info-row.buyer-info-row--indent
                label.buyer-info__payment
                  input.radio(type='radio' name='choice-payment' checked)
                  span.radio-custom
                  span.label
                    .buyer-info__img
                      img(src='img/card.png' alt='alt')
                label.buyer-info__payment
                  input.radio(type='radio' name='choice-payment')
                  span.radio-custom
                  span.label
                    .buyer-info__img
                      img(src='img/paypal.png' alt='alt')
                label.buyer-info__payment
                  input.radio(type='radio' name='choice-payment')
                  span.radio-custom
                  span.label
                    .buyer-info__img
                      img(src='img/liqpay.png' alt='alt')
            .payment
              p.shipping-subtitle Card info
              .buyer-info
                .buyer-info-row.buyer-info-row--wrap
                  label.buyer-info__item
                    p.buyer-info__label Name on card
                    input.buyer-info-field.buyer-info-field--long(type='text' name='card' placeholder=' ')
                  label.buyer-info__item.buyer-info__item--indent.card-focus-container
                    p.buyer-info__label Card number
                    input.buyer-info-field.buyer-info-field--long.card-focus(type='text' name='card' pattern='[0-9]{16}' minlength="16" maxlength="16" placeholder=' ')
                    .card-focus-img
                      img(src='img/visa.svg' alt='alt')
                  .input-container
                    .security-code
                      p.security-code__heading The 
                        span 3 digits
                        | on the back of your credit card.
                      .security-card
                        .security-card__line
                        .security-card__container
                          .security-card__filed
                          .security-card__code 123
                    .security-toggle ?
                    label.buyer-info__item
                      p.buyer-info__label Expiry date
                      input.buyer-info-field.buyer-info-field--smaller(type='text'  placeholder='MM / YY' name=' last-name' minlength="4" maxlength="4")
                    label.buyer-info__item
                      p.buyer-info__label Security code
                      input.buyer-info-field.buyer-info-field--smaller(type='text' name=' last-name' placeholder=' ' minlength="3" maxlength="3")
              p.shipping-subtitle Billing adress
              .buyer-info
                .buyer-info-row
                  label.buyer-info__checkbox
                    input.checkbox(type='checkbox' name='add-message')
                    span.checkbox-custom
                      span.check-mark
                    span.label Same as my shipping address
                .buyer-info-row
                  label.buyer-info__item
                    p.buyer-info__label Country
                    select.main-select.buyer-info-field--long(type='text' name='country'   placeholder='Start typyng or select')
                      option Ukraine
                      option United States
                      option United Kingdom
                      option Uganda
                      option Ukraine
                  label.buyer-info__item
                    p.buyer-info__label First name
                    input.buyer-info-field.buyer-info-field--short(type='text' name=' first-name' placeholder=' ')
                  label.buyer-info__item
                    p.buyer-info__label Last name
                    input.buyer-info-field.buyer-info-field--short(type='text' name=' last-name' placeholder=' ')
                .buyer-info-row
                  label.buyer-info__item
                    p.buyer-info__label Street address
                    input.buyer-info-field.buyer-info-field--street(type='text' name='  street' placeholder=' ')
                  label.buyer-info__checkbox
                    input.checkbox(type='checkbox' name='add-message')
                    span.checkbox-custom
                      span.check-mark
                    span.label This is a PO, APO or AE box
                .buyer-info-row
                  label.buyer-info__item
                    p.buyer-info__label City
                    select.main-select.buyer-info-field--long(type='text' name='city' placeholder='Start typyng or select')
                      option Kyiv
                      option London
                      option Paris
                      option Moscow
                      option Riga
                  label.buyer-info__item
                    p.buyer-info__label State / Province / Region
                    select.main-select.buyer-info-field--short(type='text' name='state' placeholder='Start typyng or select')
                      option Kyiv 
                      option London
                      option Paris
                      option Moscow
                      option Riga
                  label.buyer-info__item
                    p.buyer-info__label Postal code
                    input.buyer-info-field.buyer-info-field--code(type='text' name='state' placeholder='XXXXXX')
              .button-container
                a#btnStep-3.main-btn(href='successful-payment.html') 
                  img.main-btn__img(src='img/buy-lock.svg' alt='alt')
                  | pay $330.20
            .payment
              .button-container
                button.main-btn continue
            .payment
              .button-container
                button.main-btn continue
                



  include footer